@import './themeColors.scss';
$theme-font:    verdana, sans-serif;

body {
  font: $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
      color: $themeColor-Dark
  }
  height: 95%;

}

html {height: 100%;}

.container {
  display: flex;
  display: -webkit-flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: column nowrap;  
  justify-content: center;
  align-items: center;
  height: 75%;
}

.list-item {
  padding-left: 50px;
  padding-right: 50px;
  @media screen and (max-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}